@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply w-full  bg-gradient-to-r from-slate-900 to-slate-900 text-white;
  }
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-sky-500 to-teal-300 inline-block text-transparent bg-clip-text;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-sky-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-sky-500 to-teal-300;
}
